.alert {
  padding: 3rem;
  border: 1px solid transparent;

  font-size: 2rem;
  text-align: center;
  z-index: 9999;
  width: 100vw;
  position: fixed;
  top: 0;
}

.alert-success {
  border-color: #d7e9c6;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  color: #225a23;
}

.alert-danger {
  border-color: #ebccd1;
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  color: #661614;
}
