* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
  hyphens: manual;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: $white-color;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
